n8n/workflows/wf1-ingestion-detection.json
{
  "name": "WF1 - Ingestion and Detection (S2)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        280,
        260
      ]
    },
    {
      "parameters": {
        "url": "http://mock-data:8004/shipments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "count",
              "value": "30"
            },
            {
              "name": "exception_ratio",
              "value": "0.4"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-shipments",
      "name": "Get Shipments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const required = [\"id\", \"tracking_number\", \"carrier\", \"destination\", \"status\", \"expected_delivery\", \"last_updated\"];\nconst items = $json.items || [];\nconst valid = items.filter((s) => required.every((f) => s[f] !== undefined && s[f] !== null));\nreturn valid.map((shipment) => ({ json: { shipment } }));"
      },
      "id": "validate-shipments",
      "name": "Validate Shipment Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        730,
        260
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO shipments (\n  id, tracking_number, carrier, origin, destination,\n  expected_delivery, actual_delivery, status, failed_attempts, last_updated, created_at\n)\nVALUES ($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11)\nON CONFLICT (tracking_number) DO UPDATE SET\n  carrier = EXCLUDED.carrier,\n  origin = EXCLUDED.origin,\n  destination = EXCLUDED.destination,\n  expected_delivery = EXCLUDED.expected_delivery,\n  actual_delivery = EXCLUDED.actual_delivery,\n  status = EXCLUDED.status,\n  failed_attempts = EXCLUDED.failed_attempts,\n  last_updated = EXCLUDED.last_updated\nRETURNING id, tracking_number;",
        "options": {
          "queryReplacement": "={{[\n  $json.shipment.id,\n  $json.shipment.tracking_number,\n  $json.shipment.carrier,\n  $json.shipment.origin,\n  $json.shipment.destination,\n  $json.shipment.expected_delivery,\n  $json.shipment.actual_delivery,\n  $json.shipment.status,\n  $json.shipment.failed_attempts ?? 0,\n  $json.shipment.last_updated,\n  $json.shipment.created_at ?? $now.toISO()\n]}}"
        }
      },
      "id": "upsert-shipment",
      "name": "Upsert Shipment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        970,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "replace-with-postgres-credential-id",
          "name": "Postgres Internal"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "dedup_value",
        "key": "={{'processed:' + $node[\"Validate Shipment Fields\"].json.shipment.tracking_number}}",
        "options": {}
      },
      "id": "redis-get",
      "name": "Redis Dedup Get",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1200,
        170
      ],
      "credentials": {
        "redis": {
          "id": "replace-with-redis-credential-id",
          "name": "Redis Internal"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cache-hit",
              "leftValue": "={{$json.dedup_value}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-cache-hit",
      "name": "IF Cache Hit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1410,
        170
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://detector:8001/detect",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { shipment: $node[\"Validate Shipment Fields\"].json.shipment } }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "detect-exception",
      "name": "Call Detector",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-exception",
              "leftValue": "={{$json.is_exception}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "is-not-skipped",
              "leftValue": "={{$json.skipped}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-exception",
      "name": "IF Exception and Not Skipped",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1410,
        360
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{'processed:' + $node[\"Validate Shipment Fields\"].json.shipment.tracking_number}}",
        "value": "1",
        "expire": true,
        "ttl": 3600
      },
      "id": "redis-set",
      "name": "Redis Dedup Set TTL",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1640,
        300
      ],
      "credentials": {
        "redis": {
          "id": "replace-with-redis-credential-id",
          "name": "Redis Internal"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const upsert = $('Upsert Shipment').item.json || {};\nreturn [{\n  json: {\n    shipment_id: upsert.id || $json.shipment_id,\n    tracking_number: upsert.tracking_number || $('Validate Shipment Fields').item.json.shipment.tracking_number,\n    exception_type: $json.exception_type,\n    reason: $json.reason,\n    severity_hint: $json.severity_hint,\n    overdue_hours: $json.overdue_hours || 0,\n    status: 'open',\n    detected_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "set-exception-payload",
      "name": "Set Exception Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO exceptions (shipment_id, exception_type, reason, severity_hint, overdue_hours, status, detected_at)\nVALUES ($1, $2, $3, $4, $5, $6, $7)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{[$json.shipment_id, $json.exception_type, $json.reason, $json.severity_hint, $json.overdue_hours, $json.status, $json.detected_at]}}"
        }
      },
      "id": "postgres-insert-exception",
      "name": "Postgres Insert Exception",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2090,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "replace-with-postgres-credential-id",
          "name": "Postgres Internal"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/wf2-classify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { exception_id: $json[0]?.id || $json.id } }}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "trigger-wf2",
      "name": "Trigger WF2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2310,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Shipments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shipments": {
      "main": [
        [
          {
            "node": "Validate Shipment Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Shipment Fields": {
      "main": [
        [
          {
            "node": "Upsert Shipment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Shipment": {
      "main": [
        [
          {
            "node": "Redis Dedup Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Dedup Get": {
      "main": [
        [
          {
            "node": "IF Cache Hit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Detector": {
      "main": [
        [
          {
            "node": "IF Exception and Not Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Exception and Not Skipped": {
      "main": [
        [
          {
            "node": "Redis Dedup Set TTL",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Redis Dedup Set TTL": {
      "main": [
        [
          {
            "node": "Set Exception Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Exception Payload": {
      "main": [
        [
          {
            "node": "Postgres Insert Exception",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Insert Exception": {
      "main": [
        [
          {
            "node": "Trigger WF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger WF2": { "main": [] },
    "IF Cache Hit": {
      "main": [
        [],
        [
          {
            "node": "Call Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "wf1-s2-version-1",
  "meta": {
    "description": "WF1 for S2 scope: ingestion, dedup, detect, insert exception, trigger WF2."
  },
  "id": "wf1-s2-ingestion-detection",
  "tags": []
}
