n8n/workflows/wf3-notification-phase1.json
{
  "name": "WF3 - Notification Phase 1 (S4)",
  "nodes": [
    {
      "parameters": {
        "path": "wf3-notify",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "wf3-webhook",
      "name": "WF3 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        280,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = { ...$json.body, ...$json };\nconst overdue = Number(payload.overdue_hours || 0);\nlet severity = payload.severity;\nlet escalateToManager = Boolean(payload.escalate_to_manager);\nlet slaEscalationApplied = false;\n\nif (severity === 'HIGH' && overdue > 72) {\n  severity = 'CRITICAL';\n  escalateToManager = true;\n  slaEscalationApplied = true;\n}\nif (severity === 'MEDIUM' && overdue > 48) {\n  severity = 'HIGH';\n  slaEscalationApplied = true;\n}\n\nreturn [{ json: { ...payload, severity, escalate_to_manager: escalateToManager, overdue_hours: overdue, sla_escalation_applied: slaEscalationApplied } }];"
      },
      "id": "apply-sla-escalation",
      "name": "Apply SLA Escalation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        260
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status, notified_at FROM exceptions WHERE id = $1 LIMIT 1;",
        "options": {
          "queryReplacement": "={{[$json.exception_id]}}"
        }
      },
      "id": "get-notified-status",
      "name": "Get Notified Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        760,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "replace-with-postgres-credential-id",
          "name": "Postgres Internal"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Apply SLA Escalation').item.json;\nconst db = $json || {};\nconst alreadyNotified = db.status === 'notified' || Boolean(db.notified_at);\nreturn [{ json: { ...payload, is_already_notified: alreadyNotified } }];"
      },
      "id": "merge-status",
      "name": "Merge Status + Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "already-notified",
              "leftValue": "={{$json.is_already_notified}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-already-notified",
      "name": "IF Already Notified",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1240,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, exception_id: $json.exception_id, skipped_reason: 'already_notified' } }}",
        "options": {}
      },
      "id": "respond-skip",
      "name": "Respond Already Notified",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1470,
        170
      ]
    },
    {
      "parameters": {
        "url": "http://notifier:8003/notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "call-notify",
      "name": "Call Notifier /notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1470,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-escalate",
              "leftValue": "={{$json.is_escalated && !($json.channels_sent || []).includes('telegram_manager')}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-escalated",
      "name": "IF Escalated",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1700,
        360
      ]
    },
    {
      "parameters": {
        "url": "http://notifier:8003/escalate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { exception_id: $('Merge Status + Payload').item.json.exception_id, severity: $('Merge Status + Payload').item.json.severity, overdue_hours: $('Merge Status + Payload').item.json.overdue_hours, reason: $('Merge Status + Payload').item.json.reason, carrier: $('Merge Status + Payload').item.json.carrier } }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "call-escalate",
      "name": "Call Notifier /escalate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1930,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "respond-final",
      "name": "Respond WF3",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2160,
        420
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "WF3 Webhook": {
      "main": [
        [
          {
            "node": "Apply SLA Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply SLA Escalation": {
      "main": [
        [
          {
            "node": "Get Notified Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Notified Status": {
      "main": [
        [
          {
            "node": "Merge Status + Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Status + Payload": {
      "main": [
        [
          {
            "node": "IF Already Notified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Already Notified": {
      "main": [
        [
          {
            "node": "Respond Already Notified",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Notifier /notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Notifier /notify": {
      "main": [
        [
          {
            "node": "IF Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Escalated": {
      "main": [
        [
          {
            "node": "Call Notifier /escalate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond WF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Notifier /escalate": {
      "main": [
        [
          {
            "node": "Respond WF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "wf3-s4-phase1-version-1",
  "meta": {
    "description": "WF3 phase 1: SLA escalation, already_notified check, notify+escalate only."
  },
  "id": "wf3-s4-notification-phase1",
  "tags": []
}
